<a href="https://colab.research.google.com/github/nababanmichael061-oss/pemrograman-01/blob/main/Laporan%20Praktikum%20Pertemuan%205%20Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("--- Soal 1 ---")
# Mencetak bilangan ganjil 1 hingga 50
for angka in range(2,51,2):
    print(angka)

--- Soal 1 ---
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [ ]:
print("--- Soal 2 ---")
kode_berhenti = "4232401005" #Nim
input_pengguna = "Michael Rafael Nababan" # Inisialisasi awal

while input_pengguna   != kode_berhenti:
    try:
        input_pengguna = input("Michael Rafael Nababan (NIM Anda untuk berhenti): ")
    except ValueError:
        print("Input tidak valid.")

print("Perulangan telah dihentikan oleh NIM Anda.")

--- Soal 2 ---
Michael Rafael Nababan (NIM Anda untuk berhenti): 4232401005
Perulangan telah dihentikan oleh NIM Anda.

In [ ]:
print("--- Soal 3 ---")

# Daftar harga barang (minimal 10 item)
harga_barang = [15000, 25000, 10000, 5000, 30000, 20000, 12000, 8000, 45000, 6000]

# Inisialisasi total belanja
total_belanja = 0

# Proses penjumlahan menggunakan perulangan for
for harga in harga_barang:
    total_belanja += harga

# Menampilkan hasil total belanja
print("Daftar harga barang:", harga_barang)
print("Total biaya belanja adalah: Rp", total_belanja)

=== Soal 3 (Modifikasi) ===
Daftar harga barang: [15000, 25000, 10000, 5000, 30000, 20000, 12000, 8000, 45000, 6000]
Total biaya belanja adalah: Rp 176000

In [ ]:
print("--- Soal 4 ---")

password_benar = "Pemujarahasia"
batas = 3
percobaan = 1

while percobaan <= batas:
    pw = input(f"Percobaan ke-{percobaan}, masukkan password: ")
    if pw == password_benar:
        print("Akses diterima.")
        break
    else:
        print("Password salah.")
        percobaan += 1

if percobaan > batas:
    print("Kesempatan habis. Akses ditolak.")

--- Soal 4 ---
Percobaan ke-1, masukkan password: ninafeast
Password salah.
Percobaan ke-2, masukkan password: everything u are
Password salah.
Percobaan ke-3, masukkan password: Pemujarahasia
Akses diterima.

In [ ]:
print("--- Soal 5 ---")
nama_proyek = "Politeknik Negeri Batam"
hasil_output = ""

for karakter in nama_proyek:
    hasil_output += karakter + "-"

print(hasil_output)

--- Soal 5 ---
P-o-l-i-t-e-k-n-i-k- -N-e-g-e-r-i- -B-a-t-a-m-

In [ ]:
print("--- Soal 6 ---")
# Countdown dari 5 ke 1
for i in range(255, 0, -1):
    print(i)

--- Soal 6 ---
255
254
253
252
251
250
249
248
247
246
245
244
243
242
241
240
239
238
237
236
235
234
233
232
231
230
229
228
227
226
225
224
223
222
221
220
219
218
217
216
215
214
213
212
211
210
209
208
207
206
205
204
203
202
201
200
199
198
197
196
195
194
193
192
191
190
189
188
187
186
185
184
183
182
181
180
179
178
177
176
175
174
173
172
171
170
169
168
167
166
165
164
163
162
161
160
159
158
157
156
155
154
153
152
151
150
149
148
147
146
145
144
143
142
141
140
139
138
137
136
135
134
133
132
131
130
129
128
127
126
125
124
123
122
121
120
119
118
117
116
115
114
113
112
111
110
109
108
107
106
105
104
103
102
101
100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
print("--- Soal 7 ---")
kelurahan = ["Sungai jodoh", "Tanjung uncang", "Lubuk baja", "Tanjung uma", "Bengkong"]

for i, nama in enumerate(kelurahan):
    print(f"kelurahan ke-{i + 1}: {nama}")

--- Soal 7 ---
kelurahan ke-1: Sungai jodoh
kelurahan ke-2: Tanjung uncang
kelurahan ke-3: Lubuk baja
kelurahan ke-4: Tanjung uma
kelurahan ke-5: Bengkong

In [ ]:
print("--- Soal 8 ---")
data_angka = [10, 20, 30, 0, 50, 60]

for angka in data_angka:
    print(angka)
    if angka == 0:
        print("Program berhenti karena angka 0 ditemukan.")
        break

10
20
30
0
Program berhenti karena angka 0 ditemukan.

In [ ]:
print("--- Soal 9 ---")
total = 0
bilangan = 1
batas = 20

while total <= batas:
    total += bilangan
    bilangan += 1

print("Total terakhir:", total)

--- Soal 9 ---
Total terakhir: 21

In [ ]:
print("--- Soal 10 ---")
jumlah_baris = 3

for baris in range(jumlah_baris):
    baris_teks = ""
    for i in range (1):
        baris_teks += "Python "
    print(baris_teks)

# Output:
# Python
# Python
# Python

--- Soal 10 ---
Python
Python
Python