<a href="https://colab.research.google.com/github/nababanmichael061-oss/pemrograman-01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# Biodata Saya

nama = "Michael Rafael Nababan"
umur = 18
jurusan = "Teknik Elektro"
hobi = "Berenang"
status = "mahasiswa"
universitas = "Politeknik negeri batam"


biodata_list = [nama,umur,jurusan,hobi,status,universitas]
biodata_tuple = (nama,umur,jurusan,hobi,status,universitas)
biodata_set = {nama,umur,jurusan,hobi,status,universitas}
biodata_dict = {
    "nama":nama,
    "umur":umur,
    "jurusan":jurusan,
    "hobi":hobi,
    "status":status,
    "universitas":universitas,
    }

#output
print ("list:",biodata_list)
print ("tuple:",biodata_tuple)
print ("set:",biodata_set)
print ("dict:",biodata_dict)

list: ['Michael Rafael Nababan', 18, 'Teknik Elektro', 'Berenang', 'mahasiswa', 'Politeknik negeri batam']
tuple: ('Michael Rafael Nababan', 18, 'Teknik Elektro', 'Berenang', 'mahasiswa', 'Politeknik negeri batam')
set: {'Michael Rafael Nababan', 'Teknik Elektro', 'mahasiswa', 'Berenang', 'Politeknik negeri batam', 18}
dict: {'nama': 'Michael Rafael Nababan', 'umur': 18, 'jurusan': 'Teknik Elektro', 'hobi': 'Berenang', 'status': 'mahasiswa', 'universitas': 'Politeknik negeri batam'}